<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мегаполия</title>
    {% load staticfiles %}
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static '/css/mobile.css' %}" rel="stylesheet"/>
</head>
<body>

<div class="center-div-mobile">
    <form class="vertical-center" method="POST">
        <div class="container">
            <div class="row flex-column">
                <label class="add-score-user-info-name user-info">{{ player.lastName }} {{ player.firstName }}</label>
                <a class="btn a-add-score" href="{% url 'win-score-url' pid code %}">Победа</a>
                <a class="btn a-add-score" href="{% url 'play-score-url' pid code %}">Участие</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>