<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мегаполия</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/mobile.css' %}"/>
</head>
<body>
<div class="center-div-mobile">
    <div class="vertical-center">
        <div class="container">
            <div class="row flex-column">
                <label class="user-info">Добро пожаловать в Мегаполию!</label>
            </div>
        </div>
    </div>
</div>
</body>
</html>