<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мегаполия</title>
    {% load staticfiles %}
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static '/css/mobile.css' %}" rel="stylesheet"/>
</head>
<body>

<div class="center-div-mobile">
    <form class="vertical-center" method="POST">
        <div class="container">
            <div class="row flex-column">
                <label class="user-info">{{ mass }}</label>
            </div>
        </div>
    </form>
</div>
</body>
</html>