<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Участник {{ form.pid }}</title>
    {% load staticfiles %}
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static '/css/mobile.css' %}" rel="stylesheet"/>
</head>
<body>

<div class="center-div-mobile">
    <form class="vertical-center" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="row flex-column">
                <input hidden="hidden" name="pid" value="{{ form.pid }}">
                {{ form }}
                <input class="btn" type="submit" value="Сохранить">
            </div>
        </div>
    </form>
</div>

</body>
</html>