<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мегаполия</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/css/allplayers.css' %}"/>
</head>
<body>
<table class="">
    <thead>
    <tr class="">
        <th>Место</th>
        <th>Логин</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Подразделение</th>
        <th>Мегакойны</th>
        <th>Последние участие</th>
    </tr>
    </thead>

<tbody>
    {% for r in  players %}
    <tr class="">
        <td class="">{{forloop.counter}}</td>
        <td class="">{{r.login}}</td>
        <td class="">{{r.firstName}}</td>
        <td class="">{{r.lastName}}</td>
        <td class="">{{r.sub.name}}</td>
        <td class="">{{r.score}}</td>
        <td class="">{{r.lastEvent}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</body>
</html>