<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мегаполия</title>
    {% load staticfiles %}
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static '/css/mobile.css' %}" rel="stylesheet"/>
</head>
<body>

<div class="center-div-mobile">
    <form class="vertical-center" method="POST">
        <div class="container">
            <div class="row flex-column">
                <label class="user-info">{{ player.lastName }} {{ player.firstName }} </label>
                <label class="user-info">Количество мегакойнов: {{ player.score }}</label>
                <label class="user-info">Место в рейтинге: {{ place }}</label>
                <table class="acts-table">
                    <thead>
                    <tr>
                        <th>Активность</th>
                        <th>Мегакойны за победу</th>
                        <th>Мегакойны за участие</th>
                        <th>Мегакойнов получено</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for act in  acts %}
                        <tr>
                            <td class="td-desc">{{act.act.desc}}</td>
                            <td class="td-d">{{act.act.win}}</td>
                            <td class="td-d">{{act.act.play}}</td>
                            {% if act.played%}
                                <td class="td-d score-getted">{{ act.score }}</td>
                            {% else %}
                                <td class="td-d score-missing"> -------- </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
</body>
</html>