<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мегаполия</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/css/stat3.css' %}"/>
</head>
<body>
<table class="top3-table">
    {% for r in  stats %}
    <tr class="top3-table-row">
        <td class="top3-name">{{r.player.login}}</td>
        <td class="top3-act-count">{{r.act_count}}</td>
        <td class="top3-rate">{{r.player.score}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>