.box {
    width: 500px;
    margin: 200px 0;
}

.float {
    position: absolute;
    z-index: 2;
}

.form {
    margin-left: 145px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


.center-div-mobile input[type="submit"]{
    margin-top: 0.5rem;
}

.user-info{
    font-size: 36px;
    text-align: center;
    font-family: Arial;
}
.acts-table{
    margin-top: 24px;
    font-size: 22px;
    font-family: Arial;
}
.acts-table td{
    border-bottom: 1px solid #28b93c;
}

.acts-table th{
    text-align: center;
}

.td-d{
    margin: 2px;
    text-align: center;
}

.score-getted{
    color: #1e7e34;
    font-weight: bold;
}
.score-missing{
    color: #7e020e;
    font-weight: bold;
}
.a-add-score{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 2px;
    font-size: 7rem;
    font-weight: bold;
    color: #731982;
    border:  #28b93c 1px solid;
    border-radius: 30px;
    font-family: Arial;
}
.add-score-user-info{
    font-size: 7rem;
}
.add-score-user-info-name{
    font-size: 3rem;
}