.box {
    width: 500px;
    margin: 200px 0;
}

.float {
    position: absolute;
    z-index: 2;
}

.form {
    margin-left: 145px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


.center-div-mobile input[type="submit"]{
    margin-top: 0.5rem;
}