body {
        background: url('../img/stat10.png') no-repeat center center fixed;
        background-size: 1151px 640px;
        width: 1151px;
        height: 640px;
}

.top10-table{
        position: absolute;
        left:175px;
        top: 208px;
        font-size: 22px;
        color: #731982;
        font-family: Arial;
}
.top10-table td{
        padding: 0;
        height: 38px;
        max-height: 38px;
        text-align: center;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space:nowrap;
}
.top10-name{
        width: 382px;
        max-width: 382px;
        padding-left: 10px!important;
        padding-right: 10px!important;
}
.top10-act-count{
        width: 267px;
}
.top10-rate{
        width: 198px;
}