body {
        background: url('../img/stat10.png') no-repeat center center fixed;
        background-size: contain;
        width: 2558px;
        height: 1422px;
}

.top10-table{
        position: absolute;
        left:390px;
        top: 463px;
        font-size: 35px;

}
.top10-table td{
        height: 89px;
        text-align: center;
        overflow-x: hidden;
        overflow-y: hidden;
}
.top10-name{
        width: 890px;
}
.top10-act-count{
        width: 592px;
}
.top10-rate{
        width: 443px;
}