body {
        background: url('../img/stat3.png') no-repeat center center fixed;
        background-size: 2558px 1422px;
        width: 2558px;
        height: 1422px;
}

.top3-table{
        position: absolute;
        left:390px;
        top: 463px;
        font-size: 52px;
}
.top3-table td{
        height: 280px;
        text-align: center;
        overflow-x: hidden;
        overflow-y: hidden;
}
.top3-name{
        width: 890px;
}
.top3-act-count{
        width: 592px;
}
.top3-rate{
        width: 443px;
}